##this is markdown

In [1]:
print("hi")

hi

In [4]:
import pandas as pd

#read in data from my github repo
data = pd.read_csv("/Users/therealu/Documents/UCSD/classes/econ/ECON191/data/data before merge/preliminary data/PW data/All_Occupations.csv")
data.head()

   Job Zone        Code                Occupation Data-level
0       4.0  13-2011.00  Accountants and Auditors          Y
1       2.0  27-2011.00                    Actors          Y
2       4.0  15-2011.00                 Actuaries          Y
3       5.0  29-1291.00            Acupuncturists          Y
4       3.0  29-1141.01         Acute Care Nurses          Y